/* Produtos */
.produtos img {
    width: 300px;
    height: 300px;
    background-color: white;
    justify-content: center; /* centraliza */
    gap: 30px; /* espaço entre produtos */
    flex-wrap: wrap; /* quebra linha se não couber */
    margin-top: 30px;
    border-radius: 30px;
}

.produtos {
    display: flex;
    margin-top: 40px;
}

.fundo:hover {
    transform: scale(1.05); /* aumenta um pouco */
    transition: transform 0.3s ease; /* animação suave */
}


.fundo {
    background-color: rgba(201, 247, 247, 0.301);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* distribui melhor */
    padding: 20px;
    width: 300px;
    height: 550px; /* todos terão a mesma altura */
    border-radius: 12px;
    box-shadow: 0 8px 8px #7c8097;
}

.descricao {
    color: rgb(73, 46, 46);
    font-size: 15px;
    text-align: center;
    min-height: 60px; /* força todas a ocupar mesmo espaço */
}

.desconto {
    text-decoration: line-through;
    text-align: center;
    color: rgb(151, 6, 6);
}

.preço {
    color: rgb(74, 253, 74);
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    -webkit-text-stroke: rgb(12, 160, 20) 1px;
}

.compra {
    display: block;
    background-color: rgb(74, 253, 74);
    color: var(--cor-texto1);
    padding: 8px 12px;
    margin-top: auto;   /* ESSA LINHA EMPURRA PRA BAIXO */
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    width: fit-content;
}

.btcompra {
    display: flex;
    justify-content: center; /* Alinha o botão à direita */
    padding: 20px;
}

.bt-compra {
    background-color: rgb(74, 253, 74);
    color: rgb(5, 90, 5);
    padding: 12px 12px;
    border-radius: 4px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border: black 2px solid;
}

.carrinho {
    width: 75px;
    height: 50px;
    margin-right: 10px;
}

.pai {
    display: flex;
    justify-content: center; /* centraliza */
    margin-top: 200px;
}

.texto {
    color: rgb(73, 46, 46);
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pai2 {
  display: flex;
  justify-content: center; /* centraliza */
}

.pesquisa {
  display: block;
  margin: 20px auto; /* centraliza */
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.lula {
  display: block;
  margin: 20px auto; /* centraliza */
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/*Final pagina produtos*/