/* Resetar o browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Resetar o browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variaveis com as cores, tamanho texto e bordar */
:root {
  --cor-texto1: #ffffff;
}

/* Configurações do corpo do site */
body {
  background: linear-gradient(135deg, #c3cdfe, #e0e7ff);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navegação */
nav {
  margin-left: auto;
  margin-right: auto;
}

/* Retirando o decoration */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* Imagem logo */
img {
  display: block;
  max-width: 100%;
}

/* Header navegação*/
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Header background */
.header-bg {
  border-radius: 16px;
  max-width: 1240px;
  margin: 20px auto;
}

.header-bg {
  background: linear-gradient(135deg, #60a5fa, #0b3c78, #60a5fa);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.header-menu a,
.logo-text {
  color: var(--cor-texto1);
}

/* Alterar o tamanho da logo */
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo img {
  height: 36px;
  width: auto;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--cor-texto1);
  line-height: 1;
}

/* Header menu */
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  color: var(--cor-texto1);
  padding: 16px 0;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor-texto1);
  margin-top: 4px;
  position: absolute;
  transition: 0.5s;
}

.header-menu a:hover::after {
  width: 100%;
}

/* Botão Inicio */
.home {
  display: inline-block;
  background-color: var(--cor-fundo);
  color: var(--cor-texto1);
  padding: 8px 12px;
  margin: 4px;
  border-radius: 4px;
}

/* Produtos */
.produtos img {
  width: 300px;
  height: 300px;
  background-color: white;
  justify-content: center; /* centraliza */
  gap: 30px; /* espaço entre produtos */
  flex-wrap: wrap; /* quebra linha se não couber */
  margin-top: 30px;
}

.produtos {
  display: flex;
  justify-content: center; /* centraliza */
  gap: 30px; /* espaço entre produtos */
  flex-wrap: wrap; /* quebra linha se não couber */
  margin-top: 40px;
}

.fundo {
  background-color: rgb(207, 230, 230);
  display: block;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 8px 8px #7c8097;
}

.descricao {
  color: rgb(73, 46, 46);
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.desconto {
  text-decoration: line-through;
  text-align: center;
}

.preço {
  color: rgb(74, 253, 74);
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}

.compra {
  display: block;
  background-color: rgb(74, 253, 74);
  color: var(--cor-texto1);
  padding: 8px 12px;
  margin: 10px auto; /* isso centraliza */
  border-radius: 4px;
  width: fit-content;
}
.contato {
  background-color: rgb(17, 0, 255);
  display: block;
  padding: 20px;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 8px 8px #7c8097;
  margin: 50px auto; /* centraliza */
}
h15 {

  color: rgb(255, 255, 255);
  font-size: 20px;
 
}