/* Resetar o browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variaveis com as cores, tamanho texto e bordar */
:root {
  --cor-texto1: #ffffff;
}

/* Configurações do corpo do site */
body {
  background: linear-gradient(135deg, #c3cdfe, #e0e7ff);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Navegação */
nav {
  margin-left: auto;
  margin-right: auto;
}

/* Retirando o decoration */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* Imagem logo */
img {
  display: block;
  max-width: 100%;
}

/* Header navegação*/
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Header background */
.header-bg {
  border-radius: 16px;
  max-width: 1240px;
  margin: 20px auto;
}

.header-bg {
  background: linear-gradient(135deg, #60a5fa, #0b3c78, #60a5fa);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.header-menu a,
.logo-text {
  color: var(--cor-texto1);
}

/* Alterar o tamanho da logo */
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo img {
  height: 36px;
  width: auto;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--cor-texto1);
  line-height: 1;
}

/* Header menu */
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  color: var(--cor-texto1);
  padding: 16px 0;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor-texto1);
  margin-top: 4px;
  position: absolute;
  transition: 0.5s;
}

.header-menu a:hover::after {
  width: 100%;
}

/* Main */
.container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

/* Alterando a cor do INOVATECH */
.text-titulo {
  color: #0b3c78;
}

.intro {
  text-align: center;
}

/* Main introdução titulo*/
.intro h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 16px;
  color: #0f172a;
}

/* Main introdução paragrafo */
.intro p {
  max-width: 600px;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
  margin: 0 auto 32px;
  color: #334155;
}

/* Main introdução titulo de nivel 2 - h2 */
.intro h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 28px;
  margin-bottom: 40px;
}

/* Link saiba mais */
.saiba-mais {
  font-size: 20px;
  color: var(--cor-texto1);
  background: linear-gradient(135deg, #60a5fa, #0b3c78, #60a5fa);
  padding: 8px 12px;
  border-radius: 6px;
  line-height: 1.5;
  position: relative;
}

/* Produtos index main */
.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 40px;
}

.produto {
  border-radius: 16px;
  padding: 20px;
  background: linear-gradient(135deg, #92b9ea, #c9dcf2, #cbd7e6);
  box-shadow: 0 20px 25px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #0f172a;
}

.produto img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 5px;
}
.produto h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.produto p {
  font-size: 16px;
  margin-bottom: 5px;
}

.preco {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #e4e6eb;
  background: linear-gradient(135deg, #92b9ea, #6faaed, #5c92d4);
  padding: 8px 10px;
  border-radius: 4px;
  margin-top: 5px;
}

/* Beneficios index */
.beneficios {
  margin: 80px auto;
  text-align: center;
}
.beneficios h2 {
  font-size: 36px;
  margin-bottom: 32px;
  color: #0f172a;
}
.beneficios-box {
  border-radius: 20px;
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  background: linear-gradient(135deg, #92b9ea, #c9dcf2, #cbd7e6);
  box-shadow: 0 20px 25px 25px rgba(0, 0, 0, 0.1);
}
.beneficios-lista {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  text-align: start;
  padding: 0;
  margin: 0;
}
.beneficios-lista h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #01010b;
}

/* Footer index*/
.footer {
  background: linear-gradient(135deg, #60a5fa, #0b3c78, #60a5fa);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  color: var(--cor-texto1);
  padding: 40px 20px;
  text-align: center;
}
.footer p {
  margin: 8px 0;
  font-size: 1rem;
}

/* Produtos */
.produtos img {
  width: 300px;
  height: 300px;
  justify-content: center; /* centraliza */
  gap: 30px; /* espaço entre produtos */
  flex-wrap: wrap; /* quebra linha se não couber */
  margin-top: 30px;
}

.produtos {
  display: flex;
  justify-content: center; /* centraliza */
  gap: 30px; /* espaço entre produtos */
  flex-wrap: wrap; /* quebra linha se não couber */
  margin-top: 40px;
}

.fundo {
  background-color: rgb(207, 230, 230);
  display: block;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 8px 8px #7c8097;
}

.descricao {
  color: rgb(73, 46, 46);
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.desconto {
  text-decoration: line-through;
  text-align: center;
}

.preço {
  color: rgb(74, 253, 74);
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}

.compra {
  display: block;
  background-color: rgb(74, 253, 74);
  color: var(--cor-texto1);
  padding: 8px 12px;
  margin: 10px auto; /* isso centraliza */
  border-radius: 4px;
  width: fit-content;
}

.dadoscad {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.atencao {
  margin-top: 06px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.Oque {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.Horarios {
 margin-top: 05px;
 font-family: Arial, Helvetica, sans-serif;
}

.integrantes {
 margin-top: 10px;
 font-family: Arial, Helvetica, sans-serif;
}

.imagem {
  max-width: 350px;
    margin-left: 900px;  
    margin-top: -225px;
}

.botao {
  background-color: #007bff;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
}

.botao:hover {
  background-color: #0056b3;
}

.contato {
  background: linear-gradient(135deg, #0e1eff, #00aeff);
  display: block;
  padding: 40px;
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 8px 8px #7c8097;
  margin: 60px auto; /* centraliza */
}
.contato h2 {
  font-size: 32px;
  margin-bottom: 20px;
h15 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.contato input,
.contato textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 16px;
}
.contato button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
.contato {
  width: 90%;
  max-width: 600px;
  padding: 40px;
  margin: 60px auto;
}

/* Responsivo */
@media (max-width: 1024px){
  .produtos{
    grid-template-columns: repeat(2,1fr);
  }
  .header{
    justify-content: space-between;
  }
}


@media (max-width: 768px){
  .header{
    flex-direction: column;
    gap: 16px;
  }
  .header-menu{
    justify-content: center;
    gap: 24px;
  }
  .intro h1{
    font-size: 36px;
  }
  .intro p{
    font-size: 18px;
  }
  .produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .beneficios-box{
    padding: 24px;
  }
}

@media (max-width: 480px){
  .intro h1{
    font-size: 28px;
  }
  .intro h2{
    font-size: 22px;
  }
  .logo-text {
    font-size: 16px;
  }
  .header-menu a{
    font-size: 16px;
  }
}